# Supplementary Materials Lesson 3: K Nearest Neighbours
From here onwards, it will be micro-lessons on models. We will tackle the first ML model learnt in IT1244 called K Nearest Neighbours. It is known as the simplest machine learning model, and for good reason! 

I like it for different reasons. Read the first letter of each word. You're welcome. xd

In [2]:
# Pre-load some stuff, mainly some datasets from scikitlearn 
import pandas as pd 

pd.read_csv("data/water_potability_cleaned.csv")

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

## Part 1: Initialisation of models

By this part, you should have learnt how to manipulate data in Pandas (with the other supplementary materials) or with NumPy. 

The workflow of models usually goes like this:
1. Find the model from sklearn - it's usually in a separate library
2. do a train test split on the data (80/20? 70/30? up to you)
3. fit the data onto the training data
4. predict the results using the test data 
5. compare the predictions against the y values of test data

How do we apply this for k-nearest neighbours?

In [ ]:
# K-Nearest Neighbours is taken from sklearn.linear_model
# train_test_Ssplit is taken from skmodel.model_selection

from sklearn.neighbors import KNeighborsClassifier 
from sklearn.model_selection import train_test_split

# We will then split the data into different datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Save the model into a variable 
knn = KNeighborsClassifier ()

# Fit the data onto training data
knn.fit(X_train, y_train)

# Predict results using test data
predictions = knn.predict(X_test)

## Part 2: Metrics

In this lesson, we will just introduce the concept of accuracy to you! There are a LOT more metrics to classification problems, but we will save the rest for another lesson.

Accuracy is basically the number of True Positives and True Negatives over the number of datapoints used for testing.

It is the simplest metric to implement, but it is not the most straightforward to implement. This will be discussed more in future lessons!